@import url('bootstrap.min.css');




}
body{
  font-family: 'Open Sans', sans-serif;
	background-color: #FFFFFF;
}

div .card-header{
	background-color: #A2E16C;

}

.text-center.h3{

	background-color: #A2E16C;
	width: 100%;
	position: relative;
	padding: 10px;

}

.servicesSec {
	background-color: #A2E16C;
	padding: 10px;
}

.servicesSec .row .card .btn-success{
	background-color: #498e0f;
	}

